<form ng-submit="$ctrl.submitPost()" class="create-post">
    <div class="row">
        <div class="col-md-10 col-sm-10">
            <div class="form-group">
                <img ng-src="{{$root.userData.picture}}" default-image="/static/app/images/emp.png" alt="" class="profile-photo-md" />
                <textarea name="texts" ng-model="$ctrl.postText" ng-required="true"
                           class="form-control" placeholder="Write what you wish..."></textarea>
            </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="$ctrl.isAnonymous" ng-checked="true"> Make the post Anonymous
              <small class="text-muted">
                (your name will appear as {{$root.userData.anonymousName}})
                <a ui-sref="editProfile">Change</a>
              </small>
            </label>
          </div>
        </div>
        <div class="col-md-2 col-sm-2">
            <div class="tools">
                <!--
<ul class="publishing-tools list-inline">
    <li><a href="#"><i class="ion-compose"></i></a></li>
    <li><a href="#"><i class="ion-images"></i></a></li>
    <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
    <li><a href="#"><i class="ion-map"></i></a></li>
</ul>
-->
                <button type="submit" class="btn btn-primary pull-right">Publish</button>
            </div>
        </div>
    </div>
</form>
