html
  head    
    link(rel="stylesheet" href="/static/dist/styles/vendor.css")
    link(rel="stylesheet" href="/static/dist/styles/main.css")


  body(ng-app="root")(ng-strict-di)
    root
 

  
   
    script(src="/static/dist/scripts/vendor.js")
    script(src="/static/dist/scripts/plugins.js")
    script(src="/static/dist/scripts/main.js")



