<div class="auth">
    <div class="form-wrapper">
        <p class="signup-text">Signup now and meet awesome people around the world</p>
        <form action="#">
            <fieldset class="form-group">
                <input type="text" class="form-control" id="example-name" placeholder="Enter name">
            </fieldset>
            <fieldset class="form-group">
                <input type="email" class="form-control" id="example-email" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <input type="password" class="form-control" id="example-password" placeholder="Enter a password">
            </fieldset>
        </form>
        <p>By signning up you agree to the terms</p>
        <button class="btn-secondary">Register</button>
    </div>
</div>
