<div class="auth">
    <div class="form-wrapper">
        <p class="signup-text">Login now and meet awesome people around the world</p>
        <form action="#">
            <fieldset class="form-group">
                <input type="email" class="form-control" id="example-email" placeholder="Enter email">
            </fieldset>
            <fieldset class="form-group">
                <input type="password" class="form-control" id="example-password" placeholder="Enter a password">
            </fieldset>
        </form>
        <button class="btn-secondary">Login</button>
    </div>
</div>
